background-image: url(Screenshot 2021-04-29 2.58.4 PM.png)
background-position: center
background-repeat: no-repeat
background-size: contain

marquee{
  color:green
}

.secretButton {
    width: 100px;
    height: 10px;
    opacity: 0.5;
